@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope";
  font-weight: 800;
}
.container {
  width: 540px;
  height: 332px;
  background-color: #313a48;
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
h1 {
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 4.08571px;
  color: #53ffaa;
  margin-bottom: 24px;
}
p {
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #cee3e9;
}
.border-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 49px;
  width: 100%;
}
.line {
  width: 196px;
  height: 1px;
  background-color: #4f5d74;
}
.quote {
  background-color: #cee3e9;
  width: 6px;
  height: 16px;
  border-radius: 3px;
}
.dice {
  width: 64px;
  height: 64px;
  background-color: #53ffaa;
  border-radius: 50%;
  padding: 20px;
  position: absolute;
  top: 300px;
  cursor: pointer;
}
.dice:hover {
  box-shadow: 0px 0px 40px #53ffaa;
}

@media screen and (max-width: 560px) {
  .container {
    width: 343px;
    height: 315px;
  }
  .line {
    width: 122px;
  }
  p {
    font-size: 24px;
    line-height: 33px;
  }
  .border-line {
    padding: 24px;
  }
  .dice {
    top: 283px;
  }
}
